<!doctype html>
<html>

<head>
    <title>Text Analyzer</title>
    <link rel="stylesheet" href="./../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../design/css/home.css" />
</head>

<body>
    <div class="row mainDiv" style="margin-top: 1%;display: none;">
        <div class="load fileList" style="float: left; width: 30%;">
            <ul>
                <li>
                    <a>FileName</a>
                </li>
                <li>
                    <a>FileName</a>
                </li>
                <li>
                    <a>File name</a>
                </li>
                <li>
                    <a>File Name</a>
                </li>
            </ul>
            <div class="emptyText" style="margin-left: 3%;margin-top: 65%;">
                <h3 style="color: darkred">Graph option is for
                    <br>Analyze Part-Of-Spech</h3>
            </div>
        </div>
        <div class="load resultDiv" style="float:left;width: 65%; height: 595px; overflow: auto;">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li id="tableFormat" class="setDiv">
                        <a href="#">Table Format</a>
                    </li>
                    <li id="graphFormat" class="notActive">
                        <a href="#">Graph Format</a>
                    </li>
                </ul>
                <div class="row" id="tableData" style="margin-top: 4%;">
                    <table class="table table-striped" style="width: 95%;">
                        <tbody>
                            <tr>
                                <td style="width: 80%;" title="Total number of word cosidering space"> Total Number of character</td>
                                <td id="totalChar">0</td>
                            </tr>
                            <tr>
                                <td style="width: 80%;" title="Total number of word without considering space">Total number of character without space</td>
                                <td id="totalCharSpace">0</td>
                            </tr>
                            <tr>
                                <td style="width: 80%;" title="Total number of word present in file">Total number of word</td>
                                <td id="totalWord">0</td>
                            </tr>
                            <tr>
                                <td style="width: 80%;" title="Number word those are repeated or not">Total number of unique word</td>
                                <td id="totalUniqueWord">0</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="noun" style="margin-top: 2%;width: 95%;margin-left:1%;">
                        <h2>Noun Present</h2>
                        <div style="margin-top: 2%;margin-left: 4%;">
                        </div>
                    </div>

                    <div class="verb" style="margin-top: 1%;width: 95%;margin-left:1%;">
                        <h2>Verb Present</h2>
                        <div style="margin-top: 2%; margin-left: 4%;">
                        </div>
                    </div>

                    <div class="adverb" style="margin-top: 1%;width: 95%;margin-left:1%;">
                        <h2>Adverb Present</h2>
                        <div style="margin-top: 2%;margin-left: 4%;">
                        </div>
                    </div>

                    <div class="adjective" style="margin-top: 1%;width: 95%;margin-left:1%;">
                        <h2>Adjective Present</h2>
                        <div style="margin-top: 2%;margin-left: 4%;">
                        </div>
                    </div>

                    <table class="table table-striped" id="repetation" style="width: 95%;">
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="row" id="graphData" style="margin-top: 4%; height: 520px;">
                    <canvas width="100%;" height="100%" style="overflow: auto;" id="chartData"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row progressReport" style="width: 600px; display: none;">
        <h4 style="text-align: center;">Processing....</h4>
        <div id="myProgress" style="margin-left: 10%;margin-top: 45%;">
            <div id="myBar">0%</div>
        </div>
    </div>
    <div class="row defaultDiv">
        <h1>Select File or Folder for analyize..</h1>
    </div>
    <script src="../script/home.js"></script>
</body>

</html>